@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Montserrat+Alternates:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------*/
.wrapper {
  min-width: 100%;
  overflow: hidden;
}

.header-main-row {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__block {
  padding: 0;
  width: 38px;
  height: 38px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #F42758;
}

.header-menu__text {
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.header-menu .menu__icon {
  display: block;
  width: 19px;
  height: 12px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.8s ease 0;
  transition: all 0.8s ease 0;
}

.header-menu .menu__icon span,
.header-menu .menu__icon::before,
.header-menu .menu__icon::after {
  content: "";
  width: 100%;
  height: 16%;
  position: absolute;
  background-color: #F42758;
}

.header-menu .menu__icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0, -50%);
          transform: scale(1) translate(0, -50%);
  color: #F42758;
}

.header-menu .menu__icon::before {
  top: 0;
}

.header-menu .menu__icon::after {
  bottom: 0;
}

.header-menu .menu__icon._active span {
  -webkit-transform: scale(0) translate(0, 0);
          transform: scale(0) translate(0, 0);
}

.header-menu .menu__icon._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}

.header-menu .menu__icon._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-search__form {
  height: 38px;
  border-radius: 7px;
  padding: 11px;
  width: 38px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(255, 64, 110, 0.5);
}

.header-search__txt {
  display: none;
}

.header-search__btn {
  background-color: transparent;
}

.header-search .header-search__txt::-webkit-input-placeholder {
  color: #f427577c;
  font-size: 14px;
}

.header-search .header-search__txt:-ms-input-placeholder {
  color: #f427577c;
  font-size: 14px;
}

.header-search .header-search__txt::-ms-input-placeholder {
  color: #f427577c;
  font-size: 14px;
}

.header-search .header-search__txt::placeholder {
  color: #f427577c;
  font-size: 14px;
}

.header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-center-block__inst {
  width: 38px;
  height: 38px;
}

.header-center-block__logo {
  background: url("../img/svg/logo.svg");
  width: 91px;
  height: 60px;
}

.header-center-block__vk {
  width: 38px;
  height: 38px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
  border: 1px solid #F42758;
  border-radius: 7px;
  padding: 0 10px;
  width: 261px;
}

.header-contacts-block__arrow {
  margin: 0 10px 0;
}

.header-contacts-block__text {
  font-size: 14px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.header-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (min-width: 510px) {
  .header-search {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-profile {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  .header-search__form {
    height: 38px;
    border-radius: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 267px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0 20px;
  }
  .header-search__txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .header-contacts-block:hover .header-arrow-svg path {
    stroke: white;
  }
  .header-contacts-block:hover .header-arrow-svg rect {
    stroke: white;
  }
  .header-contacts-block:hover {
    background-color: #FD5E7A;
    border: 1px solid #FD5E7A;
    cursor: pointer;
    color: white;
  }
  .header-profile__item:hover .header-profile-svg circle {
    fill: white;
  }
  .header-profile__item:hover .header-profile-svg path {
    fill: white;
  }
  .header-profile__item:hover .header-profile-svg rect {
    fill: #FD5E7A;
  }
  .header-cart__item:hover .header-cart-svg rect {
    fill: #FD5E7A;
  }
  .header-cart__item:hover .header-cart-svg path {
    stroke: white;
    fill: white;
  }
}

@media (min-width: 1200px) {
  .header-menu {
    margin: 0 10px 0 0;
  }
  .header-menu__block {
    padding: 9px 18px;
    width: 123px;
    border-radius: 5px;
  }
  .header-search {
    margin: 0 45px 0 0;
  }
  .header-contacts {
    display: block;
  }
  .header-contacts-block {
    margin: 0 0 0 50px;
  }
  .header-contacts-block__arrow {
    margin: 0 13px 0;
  }
  .header-contacts-block__text {
    font-size: 18px;
  }
  .header-center-block__logo {
    margin: 0 30px;
  }
  .header-profile {
    margin: 0 0 0 40px;
  }
  .header-menu__block:hover {
    cursor: pointer;
    background-color: #FD5E7A;
    border: 1px solid #FD5E7A;
  }
  .header-menu__block:hover
.header-menu__text {
    color: white;
  }
  .header-menu__block:hover
.menu__icon span,
  .menu__icon::before {
    background-color: white;
  }
  .header-menu__block:hover
.menu__icon::before {
    background-color: white;
  }
  .header-menu__block:hover
.menu__icon::after {
    background-color: white;
  }
  .header-center-block__inst:hover .header-inst-svg-1 {
    fill: #FD5E7A;
  }
  .header-center-block__inst:hover .header-inst-svg-2 {
    fill: white;
  }
  .header-center-block__inst:hover .header-inst-svg-3 {
    stroke: #FD5E7A;
  }
  .header-center-block__inst:hover .header-inst-svg-4 {
    stroke: #FD5E7A;
  }
  .header-center-block__vk:hover .header-vk-svg path {
    fill: white;
  }
  .header-center-block__vk:hover .header-vk-svg rect {
    fill: #FD5E7A;
  }
}

.row-main-banner {
  background: #FFE2DC;
}

.main-banner-block {
  background: url("../img/svg/bg.svg") bottom repeat;
}

.main-banner-block__title {
  padding: 40px 15px 15px 15px;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Comfortaa';
}

.main-banner-block__text {
  padding: 0 15px;
  font-size: 14px;
  font-weight: 500px;
  font-family: 'Montserrat Alternates', sans-serif;
  line-height: 140%;
}

.main-banner-block__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: start;
}

.main-banner-block__image img {
  width: 410px;
  height: 410px;
  padding: 0 15px;
}

@media (min-width: 500px) {
  .main-banner-block__title {
    text-align: center;
  }
  .main-banner-block__text {
    text-align: center;
  }
}

@media (min-width: 767px) {
  .main-banner-block {
    height: 458px;
    background: url("../img/svg/bg.svg") right no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-banner-block__title {
    padding: 0;
    font-size: 34px;
    text-align: start;
    margin: 0 0 10px 0;
  }
  .main-banner-block__text {
    padding: 0;
    font-size: 15px;
    text-align: start;
  }
  .main-banner-block__image img {
    width: 560px;
    height: 460px;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .main-banner-block__title {
    font-size: 50px;
    margin: 0 0 15px 0;
  }
  .main-banner-block__text {
    font-size: 25px;
  }
}

.row-main-catalog__tools {
  height: 40px;
  position: relative;
}

.row-main-catalog__link::before {
  content: url("../img/svg/arrow.svg");
  display: inline-block;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  right: 0;
  top: -5px;
}

@media (min-width: 992px) {
  .row-main-catalog__link::before {
    display: none;
  }
  .row-main-catalog__title {
    display: none;
  }
  .row-main-catalog__link {
    background-color: green;
    width: 40px;
    height: 20px;
    display: block;
  }
  .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row-main-catalog {
    background: url("../img/svg/cake.svg") 50% no-repeat;
    background-size: conain;
    min-height: 564px;
    border-radius: 7px;
  }
  .col-sm-4 {
    padding: 0;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
  }
}
/*# sourceMappingURL=style.css.map */