@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------*/
.header-main-row {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__block {
  padding: 0;
  width: 38px;
  height: 38px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #F42758;
}

.header-menu__text {
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.header-menu .menu__icon {
  display: block;
  width: 19px;
  height: 12px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.8s ease 0;
  transition: all 0.8s ease 0;
}

.header-menu .menu__icon span,
.header-menu .menu__icon::before,
.header-menu .menu__icon::after {
  content: "";
  width: 100%;
  height: 16%;
  position: absolute;
  background-color: #F42758;
}

.header-menu .menu__icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0, -50%);
          transform: scale(1) translate(0, -50%);
  color: #F42758;
}

.header-menu .menu__icon::before {
  top: 0;
}

.header-menu .menu__icon::after {
  bottom: 0;
}

.header-menu .menu__icon._active span {
  -webkit-transform: scale(0) translate(0, 0);
          transform: scale(0) translate(0, 0);
}

.header-menu .menu__icon._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}

.header-menu .menu__icon._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-search__form {
  height: 38px;
  border-radius: 7px;
  padding: 11px;
  width: 38px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #F42758;
}

.header-search__txt {
  display: none;
}

.header-search__btn {
  background-color: transparent;
}

.header-search .header-search__txt::-webkit-input-placeholder {
  color: #f427577c;
  font-size: 14px;
}

.header-search .header-search__txt:-ms-input-placeholder {
  color: #f427577c;
  font-size: 14px;
}

.header-search .header-search__txt::-ms-input-placeholder {
  color: #f427577c;
  font-size: 14px;
}

.header-search .header-search__txt::placeholder {
  color: #f427577c;
  font-size: 14px;
}

.header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-center-block__inst {
  background: url("../img/svg/inst.svg");
  width: 38px;
  height: 38px;
}

.header-center-block__logo {
  background: url("../img/svg/logo.svg");
  width: 91px;
  height: 60px;
}

.header-center-block__vk {
  background: url("../img/svg/vk.svg");
  width: 38px;
  height: 38px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 38px;
  border: 1px solid #F42758;
  border-radius: 7px;
  padding: 0 10px;
  width: 261px;
}

.header-contacts-block__arrow {
  margin: 0 10px 0;
}

.header-contacts-block__text {
  font-size: 14px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.header-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-profile__item img {
  width: 38px;
  height: 38px;
}

.header-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header-cart__item img {
  width: 38px;
  height: 38px;
}

@media (min-width: 510px) {
  .header-search {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-profile {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  .header-search__form {
    height: 38px;
    border-radius: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 267px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0 20px;
  }
  .header-search__txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (min-width: 1200px) {
  .header-menu {
    margin: 0 10px 0 0;
  }
  .header-menu__block {
    padding: 9px 18px;
    width: 123px;
    border-radius: 5px;
  }
  .header-search {
    margin: 0 45px 0 0;
  }
  .header-contacts {
    display: block;
  }
  .header-contacts-block {
    margin: 0 0 0 50px;
  }
  .header-contacts-block__arrow {
    margin: 0 13px 0;
  }
  .header-contacts-block__text {
    font-size: 18px;
  }
  .header-center-block__logo {
    margin: 0 30px;
  }
  .header-profile {
    margin: 0 0 0 40px;
  }
}
/*# sourceMappingURL=style.css.map */