
.main-first-slider{
	margin: 0 0 60px 0;
}
.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
	margin: 0 0 30px;
}
.swiper {
	width: 100%;
	height: 394px;
}
.swiper-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: 0 0 15px 15px;
	min-height: 100%;
}
.swiper-scrollbar {
	border: 2px solid #F2D5FF;
	height: 0;
	border-radius: 10px;
	position: relative;
	background: rgba(0,0,0,.1);
	margin: 40px 0 0 0;
}
.swiper-scrollbar-drag {
	width: 67px;
	height: 22px;
	position: relative;
	border-radius: 10px;
	left: 0;
	top: -10px;
	background: linear-gradient(180deg, #FF7B9B 0%, #C8162C 126.51%);
	border-radius: 4px;
}
@media only screen and (min-width: 769px) {
	.swiper-slide:first-child {
		transition: transform 100ms;
	}
	.swiper-slide:first-child img {
		transition: box-shadow 500ms;
	}
	.swiper-slide.swiper-slide-active:first-child {	
		z-index: 2;
	}
	.swiper-slide.swiper-slide-active:first-child img {
	}
	.swiper-slide:nth-child(2) {
		transition: transform 100ms;
	}
	.swiper-slide.swiper-slide-next:nth-child(2) {
		z-index: 1;
	}
	.swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
	}
	.swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
	}
	.swiper-slide {
	}
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
//Producr-card==========
.main-first-slider__title{
	font-size: 35px;
	font-weight: 700;
	font-family: 'Comfortaa';
	margin: 50px 0 90px 0;
}
.product-card {
	box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.08);
	border-radius: 0 0 15px 15px;
	&__contain{
		width: 255px;
	}
	&__contain img{
		width: 255px;
	}
	&__body {
		padding: 25px 20px 20px 20px;
		background: #F8F0EF;
		display: flex;
		flex-direction: column;
		border-radius: 0 0 15px 15px;
		height: 141px;
	}
	&__title {
		flex: 1 1 auto;
	}
	&__title a{
		font-size: 15px;
		font-weight: 600;
		color: black;
	}
	&__link-title {
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__stock {
		font-size: 15px;
		font-family: 'Comfortaa';
		text-decoration:line-through;
	}
	&__price {
		color: #F42758;
		font-size: 20px;
		font-weight: 700;
		font-family: 'Comfortaa';
	}
	&__btn {
		background: linear-gradient(180deg, #FF7B9B 0%, #C8162C 126.51%);
		box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.25);
		border-radius: 5px;
		color: white;
		padding: 7px 32px;
	}
}
.swiper-button-next{
}
.swiper-button-prev{
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
	content: url('../img/svg/rob.svg');
	display: inline-block;
	transform: rotate(-180deg);
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
	content: url('../img/svg/rob.svg');
	display: inline-block;
}
.swiper-button-prev.swiper-button-disabled {
	opacity: .35;
	cursor: auto;
	pointer-events: all;
}

.swiper-button-next.swiper-button-disabled {
	opacity: .35;
	cursor: auto;
	pointer-events: all;
}
//Второй слайдер
.main-gallery {

	&__title {
		font-family: 'Comfortaa';
		font-size: 24px;
		font-weight: 700;
		margin-bottom:30px;
	}
}
.block-slider {
}
.second-slider {
	display: flex;
	justify-content: center;
}
	
	

.second-slider {
	margin:  0 auto;
	&__text {
		font-family: 'Montserrat Alternates', sans-serif;
		font-size: 18px;
		line-height: 140%;
		margin: 20px 0 15px 0;
	}
}
.main-rating {

	&__title {
		font-family: 'Montserrat Alternates', sans-serif;
		font-size: 18px;
		font-weight: 700;
		line-height: 140%;
		padding-right: 100px;
		margin: 0 0 20px 0;
	}

	&__block {
		margin: 0 0 20px 0;
	}

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		&:last-child{
			margin: 0;
		}

	}
	&__item span{
		display: inline-block;
		margin-left: 15px;
		font-family: 'Montserrat Alternates', sans-serif;
		font-size: 15px;
		line-height: 140%;
	}
}



//rating========================================\
.rating__item{
	flex: 0 0 20%;
	height: 100%;
	opacity: 0;
}
.form__item {
	flex: 0 0 20%;
	height: 100%;
	
}
.form__label {
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 600;
	font-size: 18px;
	margin: 0 0 10px 0;
}
.rating {
	display: flex;
	font-size: 17px;
	line-height: 0.75;
	margin-bottom: 138px;

}
.rating__body {
	position: relative;
	
}
.rating__body::before{
	content: "★★★★★";
	display: block;
	color: rgb(241, 231, 231);
	font-size: 26px;
}
.rating__active {
	position: absolute;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;

	
}
.rating__active::before {
	content: "★★★★★";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #FDCE06;
	font-size: 26px;
}
.rating__items {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
}
.rating__value {
	padding: 0 10px 0 10px;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 700;
	font-size: 17px;
	display: inline-block;
	min-width: 65px;
}
.rating__value::after{
	content: ' /  5';
	font-weight: 500;
}
.rating-block-item{
	display: flex;
	align-items: center;
	margin: 0 0 28px 0;
}
.google{
	border-left: 2px solid #BEBEBE;
	font-size: 25px;
	font-weight: 700;
	padding-left: 10px;
	
}

//Slider, rating адаптив===========
@media (min-width: 321px){
	.block-slider {
	}
	.second-slider {
		display: flex;
		justify-content: center;
	}
		
		
	
	.second-slider {
		
		&__text {
			display: flex;
			justify-content: center;
		}
	}
	.main-rating {
	
		&__title {
			display: flex;
			justify-content: center;
		}
	
		&__block {
		}
	
		&__item {
			display: flex;
			align-items: center;
			margin-bottom: 15px;
			&:last-child{
				margin: 0;
			}
	
		}
		&__item span{
			display: inline-block;
			margin-left: 15px;
			font-family: 'Montserrat Alternates', sans-serif;
			font-size: 15px;
			line-height: 140%;
		}
	}
}

//About us=======================================
.main-about-us {
	min-height: 836px;
	background: #f2d5ff80;
	margin-bottom: 60px;
	&__image {
		display: inline-block;
		transform: translate(0 , -20%);

	}
	&__image img{
		width: 100%;
	}

	&__title {
		font-family: 'Comfortaa';
		font-weight: 700;
		font-size: 25px;
		padding: 20px 0 7px 0;
		transform: translate(0 , -100%);
	}

	&__text {
		font-size: 15px;
		margin-bottom: 10px;
		line-height: 140%;
		transform: translate(0 , -80%);
	}

	&__list {
		line-height: 140%;
		font-size: 15px;
		transform: translate(0 , -30%);
	}

	&__list-title {
		padding: 0 0 10px 0;
	}

	&__sub-text {
		line-height: 140%;
		transform: translate(0 , -30%);
	}
}

.about-us-link {

}
.about-us-link::before {
	content: '•';
	display: inline-block;
	transform: translate(-150%, 0);
}


//Why us================================
.main-why {
}
.why-block{
	
}

.why-title {
	font-family: 'Comfortaa';
	font-weight: 700;
	font-size: 25px;
	line-height: 120%;
	margin-bottom: 20px;
}

.why-one {
	margin-bottom: 15px;
}
.why-one img{
	width: 100%;
	margin-bottom: 15px;
}

.why-one-image {
}
.why-one-text {	
font-family: 'Montserrat Alternates';
font-size: 15px;
line-height: 140%;
color: #000000;
}

//Бренды===============================================
.main-brand {
	margin-top: 120px;
}

.brand-title {
	font-family: 'Comfortaa';
	font-weight: 700;
	font-size: 35px;
	line-height: 120%;
	margin-bottom: 44px;

}
.brand-block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 70px;
}
.brand-block img{
	max-width: 30%;
}

//footer
.footer{
	background: #FAD4CB;
}