//Адаптивность=================================================================
//Шапка
@media (min-width: 510px){
	.header-search {
		justify-content: flex-start;
	}
	.header-profile{
		justify-content: flex-end;
	}
}
@media (min-width: 992px){
	.header-search {
		&__form {
			height: 38px;
			border-radius: 7px;	
			display: flex;
			align-items: center;
			width: 267px;
			justify-content: start;
			padding: 0 20px;
		}
		&__txt{
			display: flex;
			flex: 1 1 auto;	
		}
}
.header-contacts-block:hover .header-arrow-svg path{
	stroke: white;
	}
.header-contacts-block:hover .header-arrow-svg rect{
	stroke: white;
	}
.header-contacts-block:hover{
	background-color: #FD5E7A;
	border: 1px solid #FD5E7A;
	cursor: pointer;
	color: white
}
//Анимация иконки профиля
.header-profile__item:hover .header-profile-svg circle{
	fill: white;
}
.header-profile__item:hover .header-profile-svg path{
	fill: white;
}
.header-profile__item:hover .header-profile-svg rect{
	fill: #FD5E7A;
}
//Анимация иконки корзины
.header-cart__item:hover .header-cart-svg rect{
	fill: #FD5E7A;
}
.header-cart__item:hover .header-cart-svg path{
	stroke: white;
	fill: white;
}
}
@media(min-width: 1200px){
	.header-menu {
		margin: 0 10px 0 0;
		&__block {
			padding: 9px 18px;
			width: 123px;
			border-radius: 5px;
		}
}
.header-search{
	margin: 0 45px 0 0;
}
.header-contacts {
	display: block;
}
.header-contacts-block {
	margin: 0 0 0 50px;
		&__arrow {
			margin: 0 13px 0;
		}
		&__text {
			font-size: 18px;
		}
}
.header-center-block {
		&__logo{
			margin: 0 30px;
		}
}
.header-profile{
	margin: 0 0 0 40px;
}
//Анимация кнопок при наведении
.header-menu__block:hover {
	cursor: pointer;
	background-color: #FD5E7A;
	border: 1px solid #FD5E7A;
}
.header-menu__block:hover 
.header-menu__text{
	color: white;
}
.header-menu__block:hover 
.menu__icon span,
.menu__icon::before{
	background-color: white;
}
.header-menu__block:hover 
.menu__icon::before {
	background-color: white;
}
.header-menu__block:hover 
.menu__icon::after{
	background-color: white;
}
//Иконка инстаграмма
.header-center-block__inst:hover .header-inst-svg-1 {
	fill: #FD5E7A;
}
.header-center-block__inst:hover .header-inst-svg-2 {
	fill: white;
}
.header-center-block__inst:hover .header-inst-svg-3 {
	stroke: #FD5E7A;
}
.header-center-block__inst:hover .header-inst-svg-4 {
	stroke: #FD5E7A;
}
//Иконка вконтакте
.header-center-block__vk:hover .header-vk-svg path{
	fill: white;
}
.header-center-block__vk:hover .header-vk-svg rect{
	fill: #FD5E7A;
}
}
